.worldContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.submit {
  width: 50%;
  margin: 5px;
}

.headerInnerContainer {
  display: flex;
  text-align: center;
  width: 200px;
  padding: 20px 20px 0 20px;
}

.label {
  display: flex;
  margin-bottom: 16px;
  margin-right: 10px;
}

.input {
  margin-left: 5px;
}

.boardContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 60px;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 0 20px 20px;
}

.cellContainerDead {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid black;
}

.cellContainerLive {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 1px;
  border: 1px solid black;
  background-color: black;
}
